.fs-5-5 {
  font-size: 1.125rem;
}
.color-primary {
  color: $text-color;
}
.color-green {
  color: $green;
}

input:focus {
  box-shadow: none !important;
}
.rounded-12 {
  border-radius: 12px;
}
.rounded-24 {
  border-radius: 24px;
}
.bg-gray {
  background: $gray;
}
.fs-sm {
  font-size: 14px;
}
.fs-md {
  font-size: 18px;
}
.bg-icon {
  position: absolute;
  user-select: none;
  pointer-events: none;
}
