@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
}

@import './variables';
@import 'bootstrap';
@import './mixin';

@import './common';
@import './components/filter';
@import './components/hot-deals';
@import './components/open-play';
@import './components/find-player';
@import './components/subscribe-banner';
@import './components/onboarding';
@import './components/header';
@import './components/footer';
@import './components/modal';
