@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Manrope', sans-serif !important;
  font-weight: 400;
  overflow-x: hidden;
}

// #root {
//   height: 100vh;
//   overflow: hidden;
// }

@import './variables';
@import 'bootstrap';
@import './mixin';

.container {
  @include min-width($xxl) {
    max-width: calc(1352px + var(--bs-gutter-x));
  }
}

@import './common';
@import './components/header';
@import './components/modal';
