@font-face {
  font-family: 'Manrope';
  src: url('../assets/font/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/font/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/font/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/font/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
}

@import 'bootstrap/dist/css/bootstrap.css';

body {
  font-family: 'Manrope', sans-serif !important;
  font-weight: 400;
  overflow-x: hidden;
}
