footer {
  margin-top: 5rem;
  @include max-width($sm) {
    margin-top: 2rem;
  }
  background-color: $gray;

  hr {
    color: $light-gray;
  }

  .social-btn {
    width: 48px;
    height: 48px;
  }
}
