$map-shadow: 0px 2px 4px 0px rgba(12, 16, 19, 0.08);

.leaflet-control-attribution {
  display: none;
}

.leaflet-bar {
  border: none !important;
}

.leaflet-control-zoom-fullscreen {
  line-height: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border: 1px solid rgba(226, 226, 226, 1) !important;
  border-radius: 8px !important;
  box-shadow: $map-shadow;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.custom-zoom-controls {
  z-index: 400;
  bottom: 12px;
  right: 12px;
}

.zoom-btn {
  width: 40px;
  height: 40px;
  box-shadow: $map-shadow;
}

.marker-container {
  box-shadow: $map-shadow;
  padding: 6px 12px;

  .tennis-icon {
    width: 20px;
    height: 20px;
    background-image: url('/src/assets/images/tennis-ball-gray-icon.svg');
  }
  .marker-text {
    margin-top: 1px;
  }
  &:hover,
  &.selected {
    background-color: $blue !important;
    border: 0 !important;
    color: white;
    .tennis-icon {
      background-image: url('/src/assets/images/tennis-ball-icon.svg');
    }
  }
}

.map-locations-container {
  max-height: calc(100vh - 70px);
}
.map-container {
  @include max-width($xl) {
    height: calc(100vh - 80px) !important;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 0;
  }
}
